
.App {
    box-sizing: border-box;
    background: linear-gradient(#282c34, grey);
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    padding:2% 5%;
    display:flex;
    flex-direction: column;
}

.container {
    font-size: .5em;
}

.characterPortrait {
  height: 40vmin;
  pointer-events: none;
  border-radius: 10% 25%;
  border-image: linear-gradient(to right bottom, #260B3C, #a053df);
  border-style: solid;
}

.characterName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 4% 1% 4%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  border-radius: 5px;
  background: #d4af37;
  padding:12px;
  font-weight: 600;
  margin: 5px;
  color: antiquewhite;
}

p {
    margin: 5px 0 5px 0;
    padding: 2px 4px;
}

h1 {
    border-bottom: 2px solid;
    margin-bottom: 0.5em;
}

.selectedObject {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px;
    border-radius: 5px;
    background: #d4af37;
    p {
        border-radius: 5px;
        background: antiquewhite;
        margin: 5px 0 5px 0;
        padding: 2px 4px;
    }
}

.objectDescription {
    white-space:pre-line;
}