.health{
    margin-left: 2em;
    margin-right: 2em;
}
.healthBarButton{
    width: 3em;
//     height: 3em;
}
.healthBarInput{
    width: 4ex;
    height: 5ex
}
.takeDamage {
    background:#880808
}

#delayedDamageBar, #healthBar {
    width:100%;
}

#delayedDamageBar[value]::-webkit-progress-value {
    background-color:#cc7000
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}
