.maneuver-activate {
    margin-left:0px;
    margin-right:0px;
    width:100%;
    background: #00A86B;
    outline: none;
}

.maneuver-restart {
    margin-left:0px;
    margin-right:0px;
    width:100%;
    background: dimgrey;
    outline: none;
}

.expendedStatus--true{
    background: #414141;
}
